.App {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  opacity: 0.85;
}
.quote-container {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 2%;
  padding: 2%;
  font-size: 1.5vw;
}
.quote-header {
  text-align: center;
  font-size: 3vw;
}
.quotation {
  font-family: cursive;
}
